@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<link rel="stylesheet" href="~/css/moneyManage.css" asp-append-version="true" />

<div class="contain-border4 head-temp p-3 w-50 row">
    <div class="col">
        <h4>Số tiền còn lại: </h4>
        <h3><b>200.000 VND</b></h3>
        <div class="progress mb-4 mt-5">
            <div class="progress-bar bg-warning" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <p>Còn 20 ngày</p>
    </div>
    <div class="col">
@*         <img src="https://res.cloudinary.com/dcpbdkeam/image/upload/v1726846113/TaskManage/MoneyManage/character_rglpht.png" />
 *@    </div>
    
</div>
<div class="row mt-5">
    <div class=" col">
        <div>
            <h4>Chi tiêu hàng tháng</h4>
        </div>
        <div class="grid-monthly-Expenses monthly-Expenses">
            <div class="row ">
                <div class="col">
                    <p>Ảnh</p>
                </div>
                <div class="col">
                    <p>Uber</p>
                    <b>50.000 VND</b>
                </div>
            </div>
            <div class="row ">
                <div class="col">
                    <p>Ảnh</p>
                </div>
                <div class="col">
                    <p>Uber</p>
                    <b>50.000 VND</b>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <h3>hêh</h3>
    </div>
</div>
